doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel='stylesheet', href='/static/admin/styles/normalize.css')
    link(rel='stylesheet', href='/static/admin/styles/single-advert.css')
    link(rel='stylesheet', href='/static/admin/styles/navigation.css')
  body
    .nav
      a(href="/admin/payments") Payments
      a(href="/admin/users") Users
      a(href="/admin/adverts") Adverts
      a(href="/admin/enquires") Enquires
      a(href="/admin/emails") Emails
      a.logout(href="/admin/logout") Logout
    .alert=alert
    .advert
      h1 Vehicle information
      br
      .advert-data <i><b>#{car.date.toString().slice(0,21)}</b></i>
      br
      .advert-data-flex
        .advert-data <b>Advert Id:</b> #{car._id}
        .advert-data <b>Ref:</b> #{car.ref}
        .advert-data <b>Type:</b> #{car.type}
        .advert-data <b>Make:</b> #{car.make}
        .advert-data <b>Transmission:</b> #{car.transmission}
        .advert-data <b>Engine size:</b> #{car.engine_size}
        .advert-data <b>Color:</b> #{car.color}
        .advert-data <b>Doors:</b> #{car.doors}
        .advert-data <b>Seats:</b> #{car.seats}
        .advert-data <b>Year:</b> #{car.year}
        .advert-data <b>Km:</b> #{car.km}
        .advert-data <b>Location:</b> #{car.location}
        .advert-data <b>Price:</b> #{car.price}
        .advert-data <b>Email:</b> #{car.email}
        .advert-data <b>Phone:</b> #{car.phone}
        .advert-data <b>Url:</b> #{car.url}
      br
      br
      br
      .advert-data <b><div> # User Information:</div></b>
      .advert-data <b>User Name:</b> #{car.user_name}
      .advert-data <b>User Email:</b> #{car.user_email}
      .advert-data <b>User Id:</b> #{car.user_id}
      br
      br
      br
      .advert-data <b><div># Details:</div></b>
        pre #{car.details}
      br
      br
      br
      .advert-data <b><div># Images:</div></b>
      .advert-images
        each img in car.images
          img(src=`/static/images/car-uploads/${car.img_directory}/${img}`)
      .advert-img-tags
        div Thumbnail
        div Main
        div image 1
        div image 2
        div image 3
        div image 4
      br
      br
      br
      h1 Edit vehicle
      form.advert-edit(action="/admin/advert/edit" method="post")
        input(type="hidden" name="advertId" value=`${car._id}`)
        label Change details
        textarea(name="details") #{car.details}
        label Change location
        input(type="text" name="location" value=`${car.location}` placeholder=" Car location")
        label Change price
        input(type="number" name="price" value=`${car.price}` placeholder=" 35000")
        button(type="submit") Update
      br
      br
      br
      br
      h1 Remove vehicle
      form.advert-edit(action="/admin/advert/remove" method="post")
        input(type="hidden" name="ref" value=`${car.ref}`)
        input(type="hidden" name="userId" value=`${car.user_id}`)
        input(type="hidden" name="carUrl" value=`${car.url}`)
        button(type="submit") Remove
      br
      br